extends layout

block content
  br
  div.content
      form(method="post", action="/schedulebackup")
        div.row-fluid
          div.span4
            div.box-wrap
              div.box-heading
                h4
                  i.icon-check
                  | Select Gear  
              div.box-inner
                div.control-group
                  div.controls
                    each gear in gearList
                      label
                        if gear.first
                          input.form-field-radio(type="radio", name="gear", value="#{gear.name}", checked=true)
                        else
                          input.form-field-radio(type="radio", name="gear", value="#{gear.name}")
                        span.lbl #{gear.name}
          div.span4
            div.box-wrap
              div.box-heading
                h4
                  i.icon-calendar
                  | Select Time to run the backup
              div.box-inner
                div.row-fluid
                  label(for="datepicker")
                    | Date:
                div.control-group
                  div.row-fluid.input-append.date
                    input.date-picker(id="datepicker", type="text", name="date", date-date-format="dd-mm-yyyy")
                    span.add-on
                      i.icon-calendar
                div.row-fluid
                  label(for="timepicker")
                div.control-group
                  div.input-append.bootstrap-timepicker
                    input.input-small(id="timepicker", type="text", name="time")
                    span.add-on
                      i.icon-time
          div.span4
            div.box-wrap
              div.box-heading
                h4
                  i.icon-time
                  | Repeat
              div.box-inner
                div.control-group
                  div.controls
                    label
                      input.form-field-radio(type="radio", name="repeat", value="once", checked=true)
                      span.lbl Only Once
                    label
                      input.form-field-radio(type="radio", name="repeat", value="daily")
                      span.lbl Daily
                    label
                      input.form-field-radio(type="radio", name="repeat", value="weekly")
                      span.lbl Weekly
                    label
                      input.form-field-radio(type="radio", name="repeat", value="monthly")
                      span.lbl Monthly
        button.btn-success.btn.pull-right(type="submit")
          | Do ewt!

  script.
    $('#datepicker').datepicker();
    $('#timepicker').timepicker({
      minuteStep: 1,
      showSeconds: true,
      showMeridian: false
    });