extends layout

block scripts
  script(src='/js/osbs/gearInfo.js')
  script.
    jQuery(document).ready(page_loaded());
    function bytesToSize(bytes) {
      var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
      if (bytes == 0) return 'n/a';
      var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
      if (i == 0) return bytes + ' ' + sizes[i+1];
      return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i+1];
    };
block content
  div.alert-box.success(id="restoreBox", style="display: none")
    | Little Bunny Foo Foo
  div.alert-box.success(id="scheduleBox", style="display: none")
    | SUCCESS!
  div.row
    div
      a(href="http://#{gear}-#{namespace}.rhcloud.com")
        h1 #{gear}
      hr
    div.row
      fieldset
        legend Schedule Backup
        div.large-5.columns
          div.row
            div.large-3.columns
              label(for="occurrence") Occurrence:
            div.large-8.columns
              select.medium(id="occurrence", name="occurrence")
                option Once
                option Daily
                option Weekly
                option Monthly
        div.large-2.columns
          button.button.small(onclick="takeBackup('#{gear}')")
            | Schedule

  if !backups || backups.length == 0
    div.row
      div.large-8.columns
        h3 You have no backups for this gear
  else
    div.row
      div.large-4.columns
        h3 Backup Date
      div.large-2.columns
        h3 Size
      div.large-4.columns
        h3 Download Backup
      div.large-2.columns
        h3 Restore
    hr
    div(id="backups")
      each backup in backups
        div.row
          div.large-4.columns
            h4= backup.date
          div.large-2.columns
            h4= backup.size
          div.large-4.columns
            h4
              a(href="/downloadbackup/#{gear}/#{backup.date}/#{backup.uid}")
                | Download
          div.large-2.columns
            button.warn.button(onclick="restoreBackup('#{gear}', '#{backup.date}', '#{backup.uid}')")
              | Restore
