extends layout

block scripts
  script(srd='/js/osbs/schedule_backup.js')
  script.
    window.onload = page_loaded();
block content
  div.alert-box.success(id="success-box", style="display: none")
    | Restore Queued - Should be completed in the next 5 minutes
  div.alert-box.alert(id="failure-box", style="display: none")
    | Scheduling restore failed
  div.row
    div.large-7.columns
      a(href="http://test-whearn.rhcloud.com")
        h1 #{gear}
  if !backups || backups.length == 0
    div.row
      div.large-8.columns
        h3 You have no backups for this gear
  else
    div.row
      div.large-4.columns
        h3 Backup Date
      div.large-2.columns
        h3 Size
      div.large-4.columns
        h3 Download Backup
      div.large-2.columns
        h3 Restore
    hr
    each backup in backups
      div.row
        div.large-4.columns
          h4= backup.date
        div.large-2.columns
          h4 backup.size
        div.large-4.columns
          h4 
            a(href="/downloadbackup/#{gear}/#{backup.date}/#{backup.uid}")
              | Download
        div.large-2.columns
          button.warn.button(onclick="scheduleRestore_ajaxCall(#{gear}, #{backup.date}, #{backup.uid})")
            | Restore
